.userInput{
    margin: 0 auto 10px auto;
    display: flex;
    align-items: center;
    // .matchInput{
    //     outline: none;
    //     width: 200px;
    //     margin-right: 40px;
    //     height: 30px;
    //     font-size: 20px;
    // }
    // .incrementButton{
    //     padding: 1em 3.5em;
    //     border: none;
    //     border-radius: 5px;
    //     cursor: pointer;
    // }
    // .incrementButton:hover{
    //     background-color: rgb(230, 230, 230);
    // }
}